<!-- FOOTER -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">MODULOR Soluciones Arquitectónicas S.L.P.</a>
    </div>
    <!-- Copyright -->


    <!--//BLOQUE COOKIES-->
    <div id="overbox3">
        <div class="inner">
            <p>Este sitio web usa cookies para garantizar que obtengas la mejor experiencia en nuestro sitio web.
                <a class="ok" onclick="aceptar_cookies();"><b>Aceptar</b></a> | 
                <a href="Views/politica-de-cookies.php" target="_blank" class="info">Más información</a>
            </p>
        </div>
    </div>

</footer>
<!-- FOOTER -->