<div
  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
>
  <app-project-create></app-project-create>

  <!-- Este listado va en la parte interna de gestión -->
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      *ngFor="let project of projects"
      [expanded]="step === 0"
      (opened)="setStep(0)"
      hideToggle
    >
      <mat-expansion-panel-header>
        {{ project.title }}
        <!-- Mostrar imagen proyecto en miniatura -->
      </mat-expansion-panel-header>

      <mat-panel-description>
        {{ project.description }}
      </mat-panel-description>

      <!--
      <mat-form-field>
        <input matInput placeholder="First name" />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" min="1" placeholder="Age" />
      </mat-form-field>
      -->
      <mat-action-row>
        <button mat-button color="accent">EDITAR</button>
        <button mat-button color="warn">ELIMINAR</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="alert alert-warning" role="alert" *ngIf="projects.length == 0">
    No hay proyectos todavía
  </div>

  <!-- / Fin listado gestion -->

  <!--
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Punny headline</h1>
    <p class="lead font-weight-normal">
      And an even wittier subheading to boot. Jumpstart your marketing efforts
      with this example based on Apple’s marketing pages.
    </p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div
    class="product-device product-device-2 shadow-sm d-none d-md-block"
  ></div>
</div>
-->
  <!-- Este listado de cards de proyectos va en la parte publica -->
  <h3>Proyectos</h3>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div
      class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"
      *ngFor="let project of projects"
    >
      <div class="my-3 py-3">
        <!-- mostrar proyectos del back-->
        <h2 class="display-5">Nombre: {{ project.title }}</h2>
        <p class="lead">Contenido: {{ project.description }}</p>
      </div>
      <div
        class="bg-light shadow-sm mx-auto"
        style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"
      ></div>
    </div>
  </div>
  <!-- / Fin listado proyectos publicos -->
</div>
