<!-- BANNER -->
<div id="banner">
    
</div>

<!-- CONTENIDO -->
<div class="container marketing">

    <!-- TRES COLUMNAS  -->
    <div class="row">
        <h1 class="text-center">Nuestros servicios</h1>
        <div class="col-lg-4">
            <img class="img-circle" src="./Resources/img/ladrillo.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Diseño Integral de Proyectos de Edificación</h2>
            <p><a class="btn btn-default" href="Views/servicios.php" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="./Resources/img/local2.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Proyecto de Adecuación de Locales / Apertura Establecimiento</h2>
            <!--<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>-->
            <p><a class="btn btn-default" href="Views/servicios.php" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <!-- imagen ilegal -->
            <img class="img-circle" src="./Resources/img/informe-pericial.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Informes Periciales</h2>
            <!--<p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>-->
            <p><a class="btn btn-default" href="Views/servicios.php" role="button">Ver detalles »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- SECCIÓN NOTICIAS DEL INICIO -->

    <hr class='featurette-divider'>

    



    <!-- /FIN DE LA SECCIÓN DE NOTICIAS DEL INICIO -->


    <!-- FOOTER -->
    <section id="social">
        <div class="row align-items-center">
            <div class="col-12 d-flex justify-content-between text-center">
                <a href="https://www.facebook.com/modulorarquitecturaslp/" target="_blank">
                    <i class="fab fa-facebook-square fa-3x m-3"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin fa-3x m-3"></i>
                </a>
            </div>
        </div>
    </section>