<div class="container">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/proyectos']" routerLinkActive="active"
      ><span>Ver proyectos</span></a
    >
  </li>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form
    (submit)="onSaveProject(projectForm)"
    #projectForm="ngForm"
    class="example-form"
    *ngIf="!isLoading"
  >
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Título proyecto</mat-label>
        <input
          name="title"
          [ngModel]="project?.title"
          type="text"
          matInput
          id="titleInput"
          #title="ngModel"
          minlength="3"
          required
          title
        />
        <mat-error *ngIf="title.invalid"
          >Por favor, introduce un título válido.</mat-error
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <mat-label>Descripción proyecto</mat-label>
        <textarea
          name="description"
          [ngModel]="project?.description"
          matInput
          id="descInput"
          #description="ngModel"
          required
          minlength="3"
          description
        ></textarea>
        <mat-error *ngIf="description.invalid"
          >Por favor, introduce una descripción válida.</mat-error
        >
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary" type="submit">
      Crear Proyecto
    </button>
    <button mat-raised-button color="link" type="reset">
      Restaurar
    </button>
  </form>
</div>
